@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: "Julius Sans One", sans-serif;

}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

/* BANNER */



main section.banner {
  display: flex;
  background-color: #F2F0FF;
}

main section.banner img {
  width: 100%;
  height: auto;
}

body {
  background-color: #000000;
}

main {
  background-image: url(../src/capa.png);
  background-position: bottom;
  background-repeat:no-repeat ;
  background-size: 100% auto;


}



/* menus */

section.menu {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding: 20%;
}

 section.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  
}


section.menu ul {
  display: block;
}

section.menu ul li {
  margin: 37% 10px;
}

section.menu ul li a {
  color: white;
  font-size: 3rem;
  border-radius: 15px;
  font-style: italic;
  cursor: pointer;
  transition: font-size 0.6s ease;
}

section.menu ul li a:hover{
  font-size: 3.3rem;

}

/* footer */


footer div.geral {
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
}

footer div.geral div.logo {
  width: 30%;
  
}

footer div.creators {
  color: #F2F0FF;
  font-weight: lighter;
  font-size: 1.6rem;
  
  padding: 50px;
}

footer div.creators ul {
  display: block;
}

footer div.creators ul li {
  margin: 20px;
  
}

footer div.creators ul li a {
  color: gray;
  font-size: 1.5rem;
  text-decoration: underline;
  
}

footer div.creators ul li span img {
  width: 3%;
}