@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
  --main-bg-color: brown;
  font-size: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  font-family: "Julius Sans One", sans-serif;

}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}

body {
  background-color: #191A1B;
  size: 150%;
  
 
}

/* Geral */
section {
  padding:0 3vw 0 3vw;
}



header {
  padding: 0vw 0vw 3vw 0vw;
}

header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 10rem;
  padding-bottom: 20rem;
  background-image: url(../src/banner\(1\).png);
  background-position: center;
  background-repeat: no-repeat;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 15px 13px 0 13px;
}

header nav ul li a {
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: background-color 0.6s ease;
    transition: font-size 0.6s ease;
}

header nav ul li ul {
  display: none;
}

header nav ul li:hover ul {
  display: block;
  position: absolute;
  border-radius: 10px;
  
}

nav a:hover {
  color: white;
}

nav ul li a:hover {
  color: white;
  transition: 0.6s;
}

header nav ul li a:hover {
    background-color: gray;
    font-size: 1.8rem;
}

/* beneficios */

section.beneficio h1 {
  font-size: 6rem;
  color: white;
}

hr {
  width: 100%;
  border: none; 
  height: 2px;
  background-color: gray;
  
}

section.beneficio div.texto1 {
  display: flex;
  padding: 10px;
}

section.beneficio div.texto1 div.conteudo1, div.imagem1 {
  display: flex;
  

}

section.beneficio div.texto1 div.conteudo1 {
  display: block;
  color: white;
  flex-grow: 1;
}


section.beneficio div.texto1 div.conteudo1 p {
  font-size: 2rem;
  padding-bottom: 40px;
  padding-right: 10%;
  line-height: 1.5;
}

section.beneficio div.texto1 div.conteudo1 ul li p {
  font-size: 1.8rem;
  padding-bottom: 35px;
  padding-left: 50px;
  line-height: 1.5;
  
}

section.beneficio div.texto1 div.imagem1 {
  flex-grow: 1;
  width: 100%;
  height: auto;
  padding-left: 50px;
}

/* beneficios2 */

section.beneficio2 div.texto2 div.conteudo2, div.imagem2 {
  display: flex;
  

}

section.beneficio2 div.texto2 {
  display: flex;
  padding: 10px;
  
  
}


section.beneficio2 div.texto2 div.imagem2 {
  flex-grow: 1;
  width: 100%;
  height: auto;
  padding-right: 5px;
}

section.beneficio2 div.texto2 div.conteudo2 {
  display: block;
  color: white;
  flex-grow: 1;
}

section.beneficio2 div.texto2 div.conteudo2 ul li p {
  font-size: 1.8rem;
  padding-top: 40px;
  padding-left: 100px;
  line-height: 1.5;
}

section.vid2 {
    display: block;
    margin-left: 35%;
    margin-right: auto;
}

section.vid2 div.link1 a {
    font-size: 1.4rem;
    color: darkcyan;
    text-decoration: underline;
}


/* maleficio */

section.maleficio div.texto3 h1 {
  font-size: 6rem;
  color: white;
  text-align: left;
  padding-top: 2vw;
}

hr {
  width: 100%;
  border: none; 
  height: 2px;
  background-color: gray; 
}

section.maleficio div.conteudo3 {
  display: block;
  color: white;
  flex-grow: 1;
}


section.maleficio div.conteudo3 p {
  font-size: 2rem;
  padding-bottom: 40px;
  line-height: 1.5;

}

section.maleficio div.conteudo3 ul li p {
  font-size: 1.5rem;
  padding-top: 40px;
  padding-left: 50px;
  line-height: 1.5;
}

section.maleficio div.imagem3 {
  width: 100%;
  height: auto;
  padding-bottom: 50px;

}

section.vid1 {
    display: flex;
    
    
}

section.vid1 div.uno {
    width: 50%;
    height: auto;
    padding-left: 20%;
    padding-right: 20px;
}

section.vid1 div.dos {
    width: 50%;
    height: auto;
    padding-right: 20%;
    padding-left: 20px;
  }

section.vid1 div.uno div.link2 a {
    font-size: 1.4rem;
    color: darkcyan;
    text-decoration: underline;
}

section.vid1 div.dos div.link3 a {
    font-size: 1.4rem;
    color: darkcyan;
    text-decoration: underline;
}

hr.metido {
  margin-top: 2vw;
}

/* footer */

footer div.geral {
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
}

footer div.geral div.logo {
  width: 30%;
  
}

footer div.creators {
  color: #F2F0FF;
  font-weight: lighter;
  font-size: 1.6rem;
  
  padding: 50px;
}

footer div.creators ul {
  display: block;
}

footer div.creators ul li {
  margin: 20px;
  
}

footer div.creators ul li a {
  color: gray;
  font-size: 1.5rem;
  text-decoration: underline;
  
}

footer div.creators ul li span img {
  width: 3%;
}